.env
data/
node_modules/
frontend/node_modules/
backend/node_modules/
frontend/dist/
*.db

# Archivos basura creados por comandos pegados accidentalmente
=
[backend
[frontend
[internal]
reading
resolve
transferring
transfgit
